
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
public/uploads/img/rom/002740ba8d464cd1fd7d14c12fa37712.jpeg
public/uploads/img/rom/32134593f659a3b4d666d30fb5e53bd3.jpeg
public/uploads/img/rom/928e79b3893551e46e13e108bc497ff2.jpeg
public/uploads/img/rom/9f970e371d3fbd2d3fa39391dd73d12d.jpeg
public/uploads/img/rom/dd145cbb5218d399310d4d4b242a858c.jpeg
public/uploads/img/system/236e6d689b9ac480046fc2465e7398b5.jpeg
public/uploads/img/system/40e7ed14309f7a431dff8c6f7818332c.jpeg
public/uploads/img/system/7c7a0980ba6c0bbd0317755e062d43d5.jpeg
public/uploads/img/system/c0c281b6e4556be2cf55239f8c48a2cb.jpeg
public/uploads/img/system/f0a4590e4cd06a64491855eb9b17ccba.jpeg
public/uploads/img/system/fdbde69c2f1e1f0512fd66c7ec07f4d7.jpeg
