<h1>Hello World</h1>
<br>
{% include('navbar.html.twig') %}
<a href="{{ path('home') }}">Home</a><br>
<a href="{{ path('app_my_display') }}">Presentation</a><br>
<a href="{{ path('app_my_yggdrasil') }}">Yggdrasil</a><br>
<a href="{{ path('app_my_gods') }}">Gods</a><br>











