{% extends 'base.html.twig' %}

{% block main %}

{#<div class="video-con-dimmer toggle-video-1 stop-video">
    <div class="video-con-viewport">
        <iframe id="video-1"
                data-src="https://www.youtube.com/embed/Unused?autoplay=1&cc_load_policy=1&enablejsapi=1&color=white&version=3&playerapiid=ytplayer"
                src="about:blank">
        </iframe>
    </div>
</div>
<script>
</script>
<div class="video-con-dimmer toggle-video-2 stop-video">
    <div class="video-con-viewport">
        <iframe id="video-2"
                data-src="https://www.youtube.com/embed/MctUy305nt0?autoplay=1&cc_load_policy=1&enablejsapi=1&color=white&version=3&playerapiid=ytplayer"
                src="about:blank">
        </iframe>
    </div>
</div>
<script>
</script>
<div class="video-con-dimmer toggle-video-3 stop-video">
    <div class="video-con-viewport">
        <iframe id="video-3"
                data-src="https://www.youtube.com/embed/siRL9gBpNMM?autoplay=1&cc_load_policy=1&enablejsapi=1&color=white&version=3&playerapiid=ytplayer"
                src="about:blank">
        </iframe>
    </div>
</div>#}

<div class="page-con-content context-css-override">
    <div class='arrow-ico-scroll'>
    </div>
    <div class="content-con-feature-a" style="background: #000; height: 100%; max-height: unset;">
        <div id="particles-js-1">
        </div>
        <div class="content-con-overlay darkmode-header">
        </div>
        <div class="content-con-outer">
            <div class="content-con-inner">

                <div class='content-con-wrap-left content-expand '>
                    <div class="content-txt-wrap scale-content-txt-1 fade-in-onload">
                        <div class='content-ico-wrap'>
                        </div>
                        <div class='content-tx1-wrap'>
                            <h1>Open-source
                                <br> Rom Database</h1>
                        </div>
                        <div class='content-tx2-wrap'>
                            <p>
                                Lorem Ipsum dolor si amet
                            </p>
                            {# <div class='content-btn-container'>
                                 <a href="/#">
                                     <div class='content-btn-download'>
                                         <span>Download</span>
                                         <span class="content-tx1-download">
                                                 v0.0.5-7253 Alpha [2018-08-25] </span>
                                     </div>
                                 </a>
                             </div>#}
                        </div>
                    </div>
                </div>

                <div class='content-con-wrap-right content-remove '>
                    <div class='content-img-wrap'
                         style="display:block; background: url(/img/icons/menu/greeting.png) no-repeat center; background-size: contain;">
                    </div>

                    {#Video-Slideshow#}
                    {# <div class='video-con-container' style="display:none;">
                         <div class="video-btn-player-b page-video-1">
                         </div>
                         <div class="video-con-slideshow">
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                             <div>
                                 <img class='video-img-thumb' alt="" src="/img/thumbs/slideshow/null.jpg"
                                      style="object-fit: cover;">
                             </div>
                         </div>
                     </div>#}

                    {#video-slideshow-script#}
                    {# <script>
                         $(".video-con-slideshow > div:gt(0)").hide();
                         setInterval(function () {
                             $('.video-con-slideshow > div:first')
                                 .fadeOut(768)
                                 .next()
                                 .fadeIn(768)
                                 .end()
                                 .appendTo('.video-con-slideshow');
                         }, 5000);
                     </script>#}

                    {# <div class='timer-con-container' style="display:none;">
                         <div id='timer-tx1-body'>
                                 <span>
                                     Synchronizing... </span>
                         </div>
                         <div class='timer-con-separator'>
                         </div>
                         <div class='timer-con-wrapper'>
                             <a class="#" target="_blank">
                                 <div class='timer-ico-body'>
                                 </div>
                             </a>
                             <div class='timer-tx2-body'>
                                 <span>Join the discussion on </span>
                             </div>
                         </div>
                     </div>#}

                </div>
            </div>
        </div>
    </div>

    {#searchbar#}
    <div class="content-con-feature-c darkmode-feature" style="background: #212121; height:100px;">
        <div class="search-ovr-container darkmode-header">
        </div>
        <div class='search-con-container'>
            <div class="search-con-outer">
                <div class="search-con-inner">
                    <div class="search-inp-search">
                        <div class="search-ico-search">
                        </div>
                        <div class="search-txt-search">
                                <span>
                                    <span class="mobile-titlesearch" style="opacity:0.4;">Compatibility database developed and maintained by </span>
                                    <span style="background: url(/img/icons/buttons/github-h.png) no-repeat center; background-size: 14px; width: 18px; height: 50px; position: absolute; display: inline-block; opacity:0.4;"></span>
                                    <span>
                                        <a style="pointer-events: all; padding-left: 22px;"
                                           href="https://github.com/Schp4wn" target="_blank">Jesterhead</a>
                                    </span>
                                </span>
                        </div>
                        <form action='/search' method='get'>
                            <input name="g" placeholder="Game Title / System">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#end-search#}

    {#triple window section#}
    <div class="content-con-feature-b darkmode-feature">
        <div class="content-con-overlay darkmode-header" style=" opacity: 0.9;">
        </div>
        <div class="content-con-outer">
            <div class="content-con-inner">
                <div id='context-con-block' class="context-alg-block darkmode-context override-promote">
                    <div class='context-ico-block'
                         style="background: #4c5bd7 url('/img/icons/context/discord-h.png') no-repeat center center !important; background-size: 240px !important;">
                    </div>
                    <div class='context-tx1-block darkmode-txt'>
                        <h3>Blog</h3>
                    </div>
                    <div class='context-tx2-block darkmode-txt'>
                        <p>
                            Hamburger buffalo doner picanha bresaola tri-tip. Chicken andouille frankfurter, short loin
                            meatloaf pork belly tri-tip. T-bone spare ribs buffalo beef ribs, jowl sausage ham hock
                            brisket pork chop andouille ribeye chuck turducken biltong salami. Doner bacon cupim
                            meatloaf. Short loin flank ribeye shank biltong. Flank rump pig, boudin burgdoggen biltong
                            landjaeger doner ball tip sirloin leberkas pork belly ham hock jowl tongue. Tongue pork
                            leberkas salami pastrami pig pancetta.
                        </p>
                    </div>
                    <a href="/blog">
                        <div class='context-btn-block'>
                            <span>Read Latest</span>
                        </div>
                    </a>
                </div>
                <div id='context-con-block' class="context-alg-block darkmode-context override-hide">
                    <div class='context-ico-block'
                         style="background: #4c5bd7 url('/img/icons/context/discord-h.png') no-repeat center center !important; background-size: 200px !important;">
                    </div>
                    <div class='context-tx1-block darkmode-txt'>
                        <h3>Community</h3>
                    </div>
                    <div class='context-tx2-block darkmode-txt'>
                        <p>
                            JBacon ipsum dolor amet ribeye sausage swine turducken andouille shankle buffalo tongue
                            jerky. Burgdoggen andouille meatball, ham filet mignon beef ribs pig alcatra kielbasa. Rump
                            pork prosciutto landjaeger kielbasa corned beef, picanha venison. Shoulder short ribs
                            drumstick ball tip bacon flank andouille leberkas kevin meatball.
                        </p>
                    </div>
                    <a href="#" target="_blank">
                        <div class='context-btn-block'>
                            <span>Join</span>
                        </div>
                    </a>
                </div>
                <div id='context-con-block' class="darkmode-context override-hide">
                    <div class='context-ico-block'
                         style="background: #4c5bd7 url('/img/icons/context/git-h.png') no-repeat center center !important; background-size: 200px !important;">
                    </div>
                    <div class='context-tx1-block darkmode-txt'>
                        <h3>Code</h3>
                    </div>
                    <div class='context-tx2-block darkmode-txt'>
                        <p>
                            Rump tenderloin kielbasa ball tip, meatloaf sirloin pork chop beef biltong shankle swine
                            boudin. Shoulder short loin biltong chicken, picanha short ribs prosciutto ribeye kevin
                            filet mignon. Shank spare ribs brisket shoulder prosciutto pork belly boudin, venison t-bone
                            hamburger tongue porchetta filet mignon. Bresaola landjaeger tenderloin porchetta bacon,
                            jowl pork belly rump pastrami ham ham hock shank pork chop. Pancetta beef ribs frankfurter
                            burgdoggen boudin.
                        </p>
                    </div>
                    <a href="#" target="_blank">
                        <div class='context-btn-block'>
                            <span>Git</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#triple window section end#}


    {#feature#}
    <div class="content-con-feature-a darkmode-feature">
        <div class="content-con-outer">
            <div class="content-con-inner">
                <div class="content-con-wrapper">
                    <div class='content-con-wrap-left'>
                        <div class="content-wrp-tease override-hide" style='left: 180px; top: -115px'>
                            <div class='content-con-tease'
                                 style="transform: scale(.5); background: url('/img/thumbs/featured/1.jpg') no-repeat center center !important; background-size: cover !important;">
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='right: 240px; top: -200px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.85); background: url('/img/thumbs/featured/2.jpg') no-repeat center center !important; background-size: cover !important;">
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='right: 200px; bottom: -168px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.5); background: url('/img/thumbs/featured/3.jpg') no-repeat center center !important; background-size: cover !important;">
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='left: 172px; top: 400px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.7); background: url('/img/thumbs/featured/4.jpg') no-repeat center center !important; background-size: cover !important;">
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='right: 390px; top: 104px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.65); background: url('/img/thumbs/featured/5.jpg') no-repeat center center !important; background-size: cover !important;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='content-con-wrap-left content-expand'>
                    <div class='video-con-container'>
                        <div class="video-btn-player-b page-video-2">
                        </div>
                        <div class="video-ico-platform">
                        </div>
                        <div class='video-img-thumb'
                             style="background: url('/img/thumbs/videos/2.jpg') no-repeat center center !important; background-size: cover !important;">
                        </div>
                    </div>
                </div>
                <div class='content-con-wrap-right content-remove'>
                    <div class="content-txt-wrap scale-content-txt-2">
                        <div class="content-tx1-wrap content-txt-wrap-invert darkmode-txt2">
                            <h2>Here's What We've Been Working On</h2>
                        </div>
                        <div class="content-tx2-wrap content-txt-wrap-invert darkmode-txt2">
                            <p>
                                Spicy jalapeno bacon ipsum dolor amet corned beef brisket pork elit pastrami ball tip.
                                In mollit short loin dolor biltong capicola shankle boudin bresaola tenderloin venison
                                commodo meatball. Ground round kielbasa ex nulla minim sint, pork belly shank. Beef ribs
                                corned beef ham hock ut. Pastrami deserunt laborum ullamco, shankle sunt pig qui ea
                                laboris esse enim burgdoggen. Eiusmod ham short loin ipsum occaecat proident culpa
                                laborum veniam aute commodo est tenderloin mollit beef.
                            </p>
                            <div class='content-btn-container'>
                                <a href="#"
                                   target="_blank">
                                    <div class='content-btn-general'>
                                        <div class='content-btn-icon'
                                             style="background: url('/img/icons/context/youtube.png') no-repeat center;">
                                        </div>
                                        <span>Our Channel</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#Advertisement#}
    <div class="content-con-feature-c">
        <div class='content-txt-ad darkmode-txt'>
            <span>ADVERTISEMENT</span>
        </div>
        <div class="content-con-ad darkmode-ad div-css-context-ad">
            <div style="text-align: center; top: 20px; position: relative; z-index:2;">

            </div>
        </div>
    </div>
    {#Advertisement end#}


    {#triple section#}
    <div class="content-con-feature-d darkmode-header-patreon">
        <div class="content-con-outer">
            <div class="content-con-inner">
                <div id='patreon-con-block-a' class="context-alg-block darkmode-context override-hide">
                    <div class="patreon-tx1-title">
                        <span>Bacon</span>
                    </div>
                    <div class="patreon-tx1-block darkmode-txt">
                        <h3>Banana Split</h3>
                    </div>
                    <div class="patreon-tx2-block darkmode-txt">
                        <p>
                            Dolor ut ribeye in cillum, turkey id bresaola cupim consequat tenderloin beef ribs turducken
                            prosciutto. T-bone est buffalo eu elit pastrami. Ex tenderloin pork belly drumstick. Pork
                            nulla brisket bresaola, kevin irure pork belly shank ut lorem strip steak ipsum est sirloin.
                    </div>
                    <div class="patreon-btn-block noevent">
                        <div class="patreon-btn-arrow">
                        </div>
                    </div>
                </div>
                <div id='patreon-con-block-a' class="context-alg-block darkmode-context override-hide">
                    <div class="patreon-tx1-title">
                        <span>Eggs</span>
                    </div>
                    <div class="patreon-tx1-block darkmode-txt">
                        <h3>with Bacon</h3>
                    </div>
                    <div class="patreon-tx2-block darkmode-txt">
                        <p>
                            Dolor ut ribeye in cillum, turkey id bresaola cupim consequat tenderloin beef ribs turducken
                            prosciutto. T-bone est buffalo eu elit pastrami. Ex tenderloin pork belly drumstick. Pork
                            nulla brisket bresaola, kevin irure pork belly shank ut lorem strip steak ipsum est sirloin.
                        </p>
                    </div>
                    <div class="patreon-btn-block noevent">
                        <div class="patreon-btn-arrow">
                        </div>
                    </div>
                </div>
                <div id='patreon-con-block-a' class="darkmode-context override-promote">
                    <div class="patreon-tx1-title">
                        <span>More Eggs</span>
                    </div>
                    <div class="patreon-tx1-block darkmode-txt">
                        <h3>Healthy Meat</h3>
                    </div>
                    <div class="patreon-tx2-block darkmode-txt">
                        <p>
                            Dolor ut ribeye in cillum, turkey id bresaola cupim consequat tenderloin beef ribs turducken
                            prosciutto. T-bone est buffalo eu elit pastrami. Ex tenderloin pork belly drumstick. Pork
                            nulla brisket bresaola, kevin irure pork belly shank ut lorem strip steak ipsum est sirloin.
                        </p>
                    </div>
                    <a href="#" target="_blank">
                        <div class='patreon-btn-block'>
                            <span>Vote for Bacon</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#end section#}


    <div class="content-con-feature-a darkmode-feature">
        <div class="content-con-outer">
            <div class="content-con-inner">
                <div class='content-con-wrap-left content-remove'>
                    <div class="content-txt-wrap scale-content-txt-3">
                        <div class="content-tx1-wrap content-txt-wrap-invert darkmode-txt2">
                            <h2>Featured Community Gameplay Videos</h2>
                        </div>
                        <div class="content-tx2-wrap content-txt-wrap-invert darkmode-txt2">
                            <p>
                                Dolor ut ribeye in cillum, turkey id bresaola cupim consequat tenderloin beef ribs
                                turducken prosciutto. T-bone est buffalo eu elit pastrami. Ex tenderloin pork belly
                                drumstick. Pork nulla brisket bresaola, kevin irure pork belly shank ut lorem strip
                                steak ipsum est sirloin.
                            </p>
                            <div class='content-btn-container'>
                                <a href="#" target="_blank">
                                    <div class='content-btn-general'>
                                        <div class='content-btn-icon'
                                             style="background: url('./img/icons/context/discord.png') no-repeat center;">
                                        </div>
                                        <span>Submit Yours</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-con-wrapper">
                    <div class='content-con-wrap-right'>
                        <div class="content-wrp-tease override-hide" style='left: 270px; top: -115px'>
                            <div class='content-con-tease'
                                 style="transform: scale(.5); background: url('/img/thumbs/videos/4.jpg') no-repeat center center !important; background-size: cover !important;">
                                <div class='video-btn-player-b noevent'>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='right: 140px; top: -98px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.85); background: url('/img/thumbs/videos/5.jpg') no-repeat center center !important; background-size: cover !important;">
                                <div class='video-btn-player-b noevent'>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='left: 200px; bottom: -185px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.8); background: url('/img/thumbs/videos/6.jpg') no-repeat center center !important; background-size: cover !important;">
                                <div class='video-btn-player-b noevent'>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='right: 216px; top: 330px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.55); background: url('/img/thumbs/videos/7.jpg') no-repeat center center !important; background-size: cover !important;">
                                <div class='video-btn-player-b noevent'>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrp-tease override-hide" style='left: 466px; top: 89px;'>
                            <div class='content-con-tease'
                                 style="transform: scale(.55); background: url('/img/thumbs/videos/8.jpg') no-repeat center center !important; background-size: cover !important;">
                                <div class='video-btn-player-b noevent'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='content-con-wrap-right content-expand'>
                    <div class='video-con-container'>
                        <div class="video-btn-player-b page-video-3">
                        </div>
                        <div class="video-ico-platform">
                        </div>
                        <div class='video-img-thumb'
                             style="background: url('/img/thumbs/videos/3.jpg') no-repeat center center !important; background-size: cover !important;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#3blocks#}
    <div class="content-con-feature-b darkmode-feature">
        <div class="content-con-overlay darkmode-header" style=" opacity: 0.9;">
        </div>
        <div class="content-con-outer">
            <div class="content-con-inner">
                <div id='context-con-block' class="context-alg-block darkmode-context override-promote">
                    <div class='context-ico-block'
                         style="background: #4c5bd7 url('/img/icons/context/quickstart-h.png') no-repeat center center !important; background-size: 42px !important;">
                    </div>
                    <div class='context-tx1-block darkmode-txt'>
                        <h3>Quickstart</h3>
                    </div>
                    <div class='context-tx2-block darkmode-txt'>
                        <p>
                            Dolor ut ribeye in cillum, turkey id bresaola cupim consequat tenderloin beef ribs turducken
                            prosciutto. T-bone est buffalo eu elit pastrami. Ex tenderloin pork belly drumstick. Pork
                            nulla brisket bresaola, kevin irure pork belly shank ut lorem strip steak ipsum est sirloin.
                        </p>
                    </div>
                    <a href="/quickstart">
                        <div class="context-btn-block darkmode-txt">
                            <span>Read More</span>
                        </div>
                    </a>
                </div>
                <div id='context-con-block' class="context-alg-block darkmode-context override-hide">
                    <div class='context-ico-block'
                         style="background: #4c5bd7 url('/img/icons/context/faqs-h.png') no-repeat center center !important; background-size: 42px !important;">
                    </div>
                    <div class='context-tx1-block darkmode-txt'>
                        <h3>FAQs</h3>
                    </div>
                    <div class='context-tx2-block darkmode-txt'>
                        <p>
                            Dolor ut ribeye in cillum, turkey id bresaola cupim consequat tenderloin beef ribs turducken
                            prosciutto. T-bone est buffalo eu elit pastrami. Ex tenderloin pork belly drumstick. Pork
                            nulla brisket bresaola, kevin irure pork belly shank ut lorem strip steak ipsum est sirloin.
                            <a href="#">Discord</a>.
                        </p>
                    </div>
                    <a href="/faq">
                        <div class="context-btn-block darkmode-txt">
                            <span>Read More</span>
                        </div>
                    </a>
                </div>
                <div id='context-con-block' class="darkmode-context override-hide">
                    <div class='context-ico-block'
                         style="background: #4c5bd7 url('/img/icons/context/roadmap-h.png') no-repeat center center !important; background-size: 42px !important;">
                    </div>
                    <div class='context-tx1-block darkmode-txt'>
                        <h3>Roadmap</h3>
                    </div>
                    <div class='context-tx2-block darkmode-txt'>
                        <p>
                            Dolor ut ribeye in cillum, turkey id bresaola cupim consequat tenderloin beef ribs turducken
                            prosciutto. T-bone est buffalo eu elit pastrami. Ex tenderloin pork belly drumstick. Pork
                            nulla brisket bresaola, kevin irure pork belly shank ut lorem strip steak ipsum est sirloin.
                        </p>
                    </div>
                    <a href="/roadmap">
                        <div class="context-btn-block darkmode-txt">
                            <span>Read More</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}