
<nav class="navbar">
    <div class="container">
        <div class="toggle pull-left visible-sm visible-xs">
            <a href="#" id="trigger" class="menu-trigger"></a>
        </div>
        <div class="branding pull-left">
            <a class="navbar-brand" href="#">
                <span class="logo"></span>
            </a>
        </div>
        <div class="search-expand hidden-sm hidden-xs">
            <form class="search-form" action="#" Method="get" onsubmit="$('[name=q]').val(
                       $('[name=q]').val().
                       replace(/[^a-z0-9\s]/gi, ' ').
                       replace(/\s+/gi,' ')
                       );">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="q" id="search" placeholder="Search For ROMs">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
            <li>
                <a href="/">
                    <div class="menu_home"></div> Home</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <div class="menu_roms"></div> Roms
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Dreamcast</a>
                    </li>
                    <li>
                        <a href="#">GameCube</a>
                    </li>
                    <li>
                        <a href="#">Game Gear</a>
                    </li>
                    <li>
                        <a href="#">Gameboy Advance</a>
                    </li>
                    <li>
                        <a href="#">Gameboy Color</a>
                    </li>
                    <li>
                        <a href="#">MAME</a>
                    </li>
                    <li>
                        <a href="#">Nintendo</a>
                    </li>
                    <li>
                        <a href="#">Nintendo 64</a>
                    </li>
                    <li>
                        <a href="#">Nintendo DS</a>
                    </li>
                    <li>
                        <a href="#">Nintendo Wii</a>
                    </li>
                    <li>
                        <a href="#">Playstation</a>
                    </li>
                    <li>
                        <a href="#">Playstation 2</a>
                    </li>
                    <li>
                        <a href="#">Playstation Portable</a>
                    </li>
                    <li>
                        <a href="#">Sega Genesis</a>
                    </li>
                    <li>
                        <a href="#">Super Nintendo</a>
                    </li>
                    <li>
                        <a style="background:#0081C2" href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <div class="menu_emulators"></div> Emulators
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Dreamcast</a>
                    </li>
                    <li>
                        <a href="#">GameCube</a>
                    </li>
                    <li>
                        <a href="#">Game Gear</a>
                    </li>
                    <li>
                        <a href="#">Gameboy Advance</a>
                    </li>
                    <li>
                        <a href="#">Gameboy Color</a>
                    </li>
                    <li>
                        <a href="#">MAME</a>
                    </li>
                    <li>
                        <a href="#">Nintendo</a>
                    </li>
                    <li>
                        <a href="#">Nintendo 64</a>
                    </li>
                    <li>
                        <a href="#">Nintendo DS</a>
                    </li>
                    <li>
                        <a href="#">Nintendo Wii</a>
                    </li>
                    <li>
                        <a href="#">Playstation</a>
                    </li>
                    <li>
                        <a href="#">Playstation 2</a>
                    </li>
                    <li>
                        <a href="#">Playstation Portable</a>
                    </li>
                    <li>
                        <a href="#">Sega Genesis</a>
                    </li>
                    <li>
                        <a href="#">Super Nintendo</a>
                    </li>
                    <li>
                        <a style="background:#0081C2" href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <div class="menu_help"></div> Help
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Windows / PC</a>
                    </li>
                    <li>
                        <a href="#">Android</a>
                    </li>
                    <li>
                        <a href="#" target="_blank" rel="external">Discord Server</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <div class="menu_chest"></div> Extras
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">BIOS Files</a>
                    </li>
                    <li>
                        <a href="#">Game Manuals</a>
                    </li>
                    <li>
                        <a href="#">Game Magazines</a>
                    </li>
                    <li>
                        <a href="#">Game Music</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <div class="menu_play"></div> Login
                    <b class="caret"></b>
                </a>
                {#<ul class="dropdown-menu">#}
                    {#<li>#}
                        {#<a href="#">Placeholder</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#">Placeholder</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#">Placeholder</a>#}
                    {#</li>#}
                {#</ul>#}
            </li>
        </ul>
    </div>
</nav>
