<html>
    <body>
        <h1>Yggdrasil der Weltenbaum</h1>
        <a href="{{ path('home') }}">Home</a><br>
        <img src='http://blacksheepstickers.co.uk/538-thickbox_default/yggdrasil-decal-sticker.jpg'</img>
    </body>
</html>