{% extends 'base.html.twig' %}

{% block head_title %}
    Receet - Recette - 
{% endblock %}
{% block title %}
    Receet - Recette - 
{% endblock %}

{% block body %}
    <h1></h1>
    <h2>Description</h2>
    <ul>
        <li>Préparation: minutes</li>
        <li>Cuisson: minutes</li>
    </ul>
    

    <p>
       
    </p>
    <p>
 
    </p>
{% endblock %}